/* table pagination style */

.container-fluid .table-responsive .paginate_button {
  /* font-size: 1rem;
 
  min-width: 2.5rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 2.8125rem;
  padding: 0 0.85rem;
  line-height: 2.5rem;
  margin: 0 0.625rem;
  display: inline-block;
  color: var(--primary) !important;
  cursor: pointer; */
  margin-left: 5px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0 !important;
  height: 2.5rem !important;
  width: 2.5rem;
  padding: 0 15px;
  line-height: 35px;
  border-radius: 5px;
  line-height: 35px;
}

.container-fluid .table-responsive .paginate_button:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.container-fluid .table-responsive .current {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.container-fluid .table-responsive .dataTables_paginate {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.container-fluid .table-responsive .basic-data_table_pagination {
  display: flex;
}
.container-fluid .table-responsive table thead tr th::after {
  content: "\f0dc";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  background-image: none;
  margin-left: 5px;
  font-size: calc(100% - 2px);
  opacity: 0.5;
}
.container-fluid .table-responsive table thead tr .icon_none::after {
  display: none !important;
}

#user-tbl_filter {
  color: #888888;
  border-radius: 1rem;
  margin-bottom: 0.35rem;
  padding-top: 1rem;
}
#example_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#example_filter {
  display: flex;
  align-items: center;
}
.table-data-base-search {
  border: 0.0625rem solid #e2e2e2;
  padding: 0.3rem 0.5rem;
  color: #715d5d;
  border-radius: 0.3125rem;
}

@media screen and (max-width: 575px) {
  .container-fluid .table-responsive .basic-data_table_pagination {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #example_filter {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 650px) {
  #example_wrapper {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 370px) {
  #example_filter {
    flex-direction: column;
    align-items: start;
  }
}

/* select option 2 style */
.select_option_2 .vs__dropdown-option:hover {
  background-color: var(--primary) !important;
}
.select_option_2 .vs__dropdwn-option--selected {
  background-color: var(--primary) !important;
}
.select_option_2 .vs__dropdwn-option--highlight {
  background-color: var(--primary) !important;
}

/* date picker */

.dp__input_readonly,
.form-control[readonly] {
  background-color: var(--card) !important;
  color: var(--text-dark) !important;
  border: 1px solid var(--border);
}

/* Ck Editor style */

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: none !important;
}

/* vue3 datatable .net pagination style */

#example3_wrapper > .dt-layout-row:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#example3_wrapper > .dt-layout-row:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#example3_wrapper > .dt-layout-row:nth-child(1) .dt-input:nth-child(2) {
  border: 1px solid var(--border);
  padding: 0.3rem 0.5rem;
  color: var(--text-dark);
  border-radius: 5px;
  height: 2.6rem;
  background: var(--card);
}

#example3_wrapper > .dt-layout-row:nth-child(1) .dt-input:nth-child(1) {
  width: 100px !important;
  margin: 0 5px !important;
  float: none !important;
  display: inline-block !important;
  border: 1px solid var(--border) !important;
  background: var(--card) !important;
  padding: 0.7rem !important;
  border-radius: 5px !important;
  padding-left: 15px !important;
  color: var(--text-dark) !important;
}

#example3_wrapper > .dt-layout-row:nth-child(3) .dt-paging-button:nth-child(2),
#example3_wrapper > .dt-layout-row:nth-child(3) .dt-paging-button:nth-last-child(2) {
  margin-left: 5px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0 !important;
  height: 35px;
  width: auto;
  padding: 0 15px;
  line-height: 35px;
  border-radius: 5px;
}

#example3_wrapper > .dt-layout-row:nth-child(3) .dt-paging-button:nth-child(2)[tabindex="0"],
#example3_wrapper > .dt-layout-row:nth-child(3) .dt-paging-button:nth-last-child(2)[tabindex="0"] {
  background: var(--primary) !important;
  color: #fff !important;
}
#example3_wrapper > .dt-layout-row:nth-child(3) .dt-paging-button {
  border: 0 !important;
  height: 35px;
  line-height: 35px;
  width: 35px;
  padding: 0;
  text-align: center;
  background-color: var(--rgba-primary-1) !important;
  border-radius: 5px;
  color: var(--primary) !important;
  font-size: 16px;
  margin-left: 5px;
}

#example3_wrapper > .dt-layout-row:nth-child(3) [aria-disabled="true"] {
  background-color: rgba(153, 153, 153, 0.3) !important;
  color: var(--text-dark) !important;
}
#example3_wrapper > .dt-layout-row:nth-child(3) .dt-paging-button + .current {
  color: #fff !important;
  background: var(--primary) !important;
}
#example3_wrapper > .dt-layout-row:nth-child(3) .first,
#example3_wrapper > .dt-layout-row:nth-child(3) .last {
  display: none;
}

@media screen and (max-width: 620px) {
  #example3_wrapper > .dt-layout-row:nth-child(3) {
    flex-direction: column;
    gap: 10px;
  }
  #example3_wrapper > .dt-layout-row:nth-child(1) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
